body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:150px auto;
}
.container{
    display:flex;
    flex-direction: row;
    
}
.list{
    display: flex;
    flex-direction: row;
}
.main1 p{
    text-align: center;
    background-color: rgb(41, 121, 41);
    padding:10px;
    width:70px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
}
.list1{
    width:89px;
    position: absolute;
    background-color: lightgray;
    display:none;
    box-shadow:2px 2px 10px black;
    border-radius: 5px;
    animation:pulse 0.195s ease-in 1;
}
@keyframes pulse{
    0%{
        transform:scale(0.6);
    }
}
.list1 a{
    display:flex;
    text-decoration: none;
    color:black;
    padding:5px;
    width:70px;
    justify-content: center;
    transition:all 0.03s ease-in;
}
.list1 a:hover{
    background-color: aqua;
    width:79px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}
.main1:hover .list1{
    display:block;
    cursor: pointer;
    background-color: darkgrey;
    transition:all 2s ease-in;

}
.main2 p{
    text-align: center;
    background-color: rgb(80, 148, 175);
    padding:10px;
    width:70px;
    color:white;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.main2:hover .list1{
    display:block;
    cursor: pointer;
    background-color: darkgrey;

}
.main3 p{
    text-align: center;
    background-color: rgb(204, 102, 119);
    padding:10px;
    width:70px;
    color:white;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.main3:hover .list1{
    display:block;
    cursor: pointer;
    background-color: darkgrey;

}